@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html, body{
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
::selection {
    background:white;
  }
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background-color:rgb(88, 20, 225);
    box-shadow: 0px 3px 5px black;
}
#navbar-btn{
    background-color:rgb(88, 20, 225);
    border: none;
}
#navbar-btn:hover{
    background-color:rgb(98, 21, 252);
}
.navbar-links{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.navbar-links:hover{
    border-radius:5px;
    background-color: white;
    color: black;
}
#section-home{
    background-color: whitesmoke;
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 3px 10px rgb(88, 20, 225);
    
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}
#h1-home{
    color: black;
}
#img-home{
    width: 30%;
    height: 30%;
}
#section-bio{
    background-color: rgba(88, 20, 225, 0.439);
    padding: 0px;
    box-shadow: 0px 3px 10px rgb(88, 20, 225);
    height: auto;
    padding: 20px;
}

#container-bio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#pre-bio{
    font-size: 20px;
}
#text-container{
    width: 50%;
}

#section-skills{
    background-color: rgba(88, 20, 225, 0.7);
    padding: 0px;
    box-shadow: 0px 3px 10px rgb(88, 20, 225);
}

#container-skills{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#skills{
    width:200px;
    height: 200px;
    padding: 50px;
}
#section-works{
    background-color: rgba(88, 20, 225, 0.864);
    height: 100vh;
}
#container-works{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
#work-images{
    width: 200px;
    height: 200px;
    
}
#work{
    height: auto;
    border: 3px solid black;
    box-shadow: 0px 3px 10px black;
}
#section-contacts{
    background-color: rgb(88, 20, 225);
    height: auto;
}
#contacts-links{
    text-decoration: none;
    background-color: black;
}
i:hover{
    color: whitesmoke;
    animation-name: example;
  animation-duration: 2s;
}
#ico{
    color: whitesmoke;
}
#ico:hover{
    color:black
    
}
.copy{
    color: white;
}
@media (max-width: 800px) {
    #works-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #skills{
        padding: 20px;
    }
    #container-works{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #work{
        margin-top: 10px;
    }
    #work-images{
        width: 130px;
        height: 130px;
    }
  }

@media (max-width: 535px) {
    .navbar-links{
        display: none;
    }
    #navbar{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #img-home{
        height: 250px;
        width: 250px;
    }
    #skills{
        padding: 5px;
    }
    #text-container{
        display: none;
    }
    #responsive-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #container-skills, #container-bio{
      flex-direction: column;
      align-content: center;
    }
    #work-images{
        width: 100px;
        height: 100px;
    }
  }
  @keyframes example {
  50%{ transform: translateY(-50%);}
  }